
.fourth{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.eighth{
    width: 450px;
    height: 200px;
    background-color: rgba(245, 245, 245, 0.671); 
}

.carimage{
    width: 950px;
    height: 750px;
    
}

html{
    background: url('./images/body.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}