
.fourth{
    width: 200px;
    height: 200px;
    background-color: 
    display: flex;
    flex-direction: row;
}

.eighth{
    width: 450px;
    height: 200px;
    background-color: rgba(245, 245, 245, 0.671); 
}

.carimage{
    width: 950px;
    height: 750px;
    
}