.first{
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.second{
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: red;
}

.third{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: blue;
}